[submodule "SuGaR"]
	path = SuGaR
	url = https://github.com/Anttwo/SuGaR.git
[submodule "SAGA"]
	path = SAGA
	url = https://github.com/Jumpat/SegAnyGAussians.git
[submodule "third_party/kmeans_pytorch"]
	path = third_party/kmeans_pytorch
	url = https://github.com/subhadarship/kmeans_pytorch.git
[submodule "third_party/segment-anything"]
	path = third_party/segment-anything
	url = https://github.com/facebookresearch/segment-anything.git
